<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DataLab_IA</title>
       
    </head>
    <body>
        <!-- Contenu principal -->
        <div class="content">
            <div class="container">
                <h1 class="title">Bonjour !</h1>
                <p class="welcome-text">Bienvenue dans votre compte DataLab ! </p>

            </div>
        </div>

    </body>
</html>

